
.container{
  width: 200px;
  height: 120px;
  border: 1px solid rgba(35, 31, 31, 0.591);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(7, 63, 89);
  background-color: rgba(44, 100, 135, 0.826);
  color: white;
  text-align: center;
}

.reset{
  font-family: Arial, Helvetica, sans-serif;
  margin:5px;
  background-color:rgba(2, 16, 21, 0.329);
  border:none;
  color:white;
  border-radius: 2px;
  padding:3px;
  width:60px;
  height:24px;
  cursor:pointer;
}

h2{
  color: rgba(11, 13, 27, 0.941);
}